#frame {
    display: flex;
    gap: 10px;
}
#Left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
    width: 20vh;
    height: 100vh;
    gap: 30px;
}
#Right {
    display: flex;
    border: 2px dashed black;
    width: 200vh;
    height: 100vh;
}

.Predio {
    background-color: rgb(6, 166, 206);
    border: 2px solid black;
    width: 100px;
    height: 250px;
    cursor: pointer;
    user-select: none
}
.PredioNovo {  
    background-color: rgb(95, 137, 230);
    border: 2px solid black;
    width: 100px;
    height: 250px;
    cursor: pointer;
    user-select: none;
    
}
.Bloco {
    background-color: rgb(6, 166, 206);
    border: 2px solid black;
    width: 150px;
    height: 150px;
    cursor: pointer;
    user-select: none;
}

.BlocoNovo {
    background-color:  rgb(95, 137, 230);
    border: 2px solid black;
    width: 150px;
    height: 150px;
    cursor: pointer;
    user-select: none
}
.drop-ativado {
    background-color: rgb(151, 210, 233);
}
/*Vou deixar essa funcionalidade apenas pro bloco*/
.can-drop {
    background-color: rgb(148, 255, 202);
}